@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 0.9rem;
  line-height: 1.7;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
body, html {
    height: 100%;
  }
  
  .bg {
    filter: grayscale(25%);
    background-image: url("../img/mainvisual_laptop.png"), linear-gradient(rgba(7, 0, 0, 0.932),rgba(0, 0, 0, 0.89)); 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  .item-title {
    display: inline-block;
    margin-bottom: 70px;
    padding: 10px;
    line-height:  65px;
    clear: both;
    overflow: hidden;
    white-space: nowrap;
  } 
  .item-title h3{
    color: white;
    line-height: 90px;
    font-size: 180px;
   margin-top: 22%;
  }
  .one {
    font-size: 40px;
    margin-top: 20%;
    font-weight: bolder;
    color: rgb(255, 255, 255);
  }
  .two {
   font-size: 25px;
   margin-top: 100px;
   margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
   color: rgb(255, 255, 255);
   letter-spacing: 5px;
  }

  .sec-title {
    width: 100%;
    height: 27%;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 100px;
    margin-top: 0;
   letter-spacing: 12px;
   background-color: #282828;
  }
  
  .classes {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 0;
    border: none;
    top: 75%;
    right: 7%;
    place-items: center;
    text-align: center;
    background: linear-gradient(to right, rgb(231, 114, 18), rgb(221, 6, 71));
  }
  .classes p{
    font-size: 20px;  
    color: white;
    line-height: 33px;
    margin-top: 10%;
  }
  
  .classes strong{
    font-weight: bolder;
    font-size: 33px;
     line-height: 20px;  
} 
  .classes h4{
      font-size: 25px;
      color: #fff;
      font-weight: lighter;
  }
  .art {
    margin-bottom: 100px;
    padding: 10px;
    line-height: 170px;
    filter: brightness(100%);
    min-height: 50vh;
    width: 100%;
    background-image: url(../img/whatwedo_laptop.png);
    filter: grayscale(25%);
    
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  .art h2 {
    font-size: 50px;
    width: 100%;
    text-align: center;
    color: white;
    letter-spacing: 10px;
    margin-top: 0%;
  }
  .art p{
    text-align: center;
    font-size: 20px;
    color: white;
    margin-top: 0%;
    line-height: 35px;
  }
.point h2{
    font-size:30px ;
    margin-top: 5%;
    letter-spacing: 10px;
    text-align: center;
    letter-spacing: 15px; 
  }
  
  .point p{
    text-align: center;
    font-size: 15px;
    line-height: 10px;
    color: gray;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 10px;
  }  
  #works ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 7%;
    align-items: center;
    margin-left: 22%;
    
    
  }
  #works li {
    width: 31%;
    margin-bottom: 23px;
  }
  
  
  #works img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: lightgrey;
    }
  
    .heading {
      font-size: 15px;
      text-align: left;
    align-items: center;
    }

    .icon_one{
      background-color: white;
      width: 200px
        
    }

    .heading h2{
      color: gold;
      position: relative;
      font-weight: bold;
      margin-left: 23px;
    }
  
    .heading h1{
      font-weight: bolder;
    }
  
    .heading h3{
      font-weight: 300px;
    }
  .list {
      margin-right: 100px;
  }
  
  .body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    margin-bottom: 400px;
    font-family: serif;
  }

  .body ul {
    margin-right: 900px;
  }

  .body h2{
    color: 100px;
    color:black;
  }
  .blog-card {
    position: absolute;
    margin-top: 100px;
    height: 370px;
    width: 95%;
    max-width: 850px;
    margin: auto;
    background: whitesmoke;
  }

  .blog-card .inner-part {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  height: 360px;
}

  .inner-part img{
    height: 260px;
    width: 260px;
    overflow: hidden;
    flex-shrink: 0;
   border-radius: 2px; 
   box-shadow: 2px 3px 15px white;
  }

  .photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer; 
  }
  .content {
    padding: 0 20px 0 35px;
    width: 900px;
    margin-left: 70px;
  }
  .content .title {
    font-size: 20px;
    font-weight: 700;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    letter-spacing: 3px;
  }

  .content .text {
    font-size: 19px;
    color: black;
    margin-bottom: 30px;
    line-height: 1.5em;
    text-align: justify;
    font-weight: lighter;
  }
.some {
  font-size: 30px;
  color: rebeccapurple;
  font-family: 'Courier New', Courier, monospace;
}

.layer {
  background-color: white;  
  padding: 2em 0 5em 0em;
  
}
  .head {
    min-height: 120vh;
    color: black;
    background-image: url(../img/limited-time_offer_bg_laptop.png);
   
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 3em;
    text-align: center;
  }

  .head h1 {
    font-size: 3em;
    line-height: 90px;
    letter-spacing: 2px;
    color: black;
  }

  .somm {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)} 
  .somm{  
    width: 40%;
    margin-left: 350px;
    font-size: 25px;
    letter-spacing: 2px;
    color: white;
    border-radius: 20px;
    font-weight: lighter  ;
 
  }

  .somm h3 {
    padding: 30px 10px;
  }

.pricing {
  padding: 1em 0 2em;  
  margin-top: 30px;
}

.pricing-grids {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  
}

.pricing-grid {
  flex: 1;
  width: 20%;
  margin:0 5px;
  transition: 0.5s all;
  border: 2px;
  border-style: solid;
  border-color: goldenrod;
}
.pricing-top{
  padding: 3px;
  background: goldenrod;
  text-align: center;
}

.pricing-top h3{
  color: white;
  font-style: 1.5em;
  font-weight: lighter;
  margin: 0;
}

.three-pricing-info h3{
color: white;
font-size: 29px;
}

.pricing-bottom {
  background: white;
  padding: 2em 0 2em 0em;
  

}

.pricing-bottom-bottom p{
  color: grey;
 font-size: 15px;
 margin: 0 0 1em 0;
 
}

.pricing-bottom p {
  font-size: 60px;
  line-height: 50px;
  font-weight: bolder;
}

.pricing-bottom h2{
  font-size: 30px;
  line-height: 80px;
  font-weight: bold;
}

.pricing-bottom span{
  font-size: 75px;
}

.pricing-bottom .smol {
  color: black;
  font-size: 30px;
}

.pricing-bottom .smoller {
  color: gold;
  font-size: 20px;
}

.pricing-bottom img {
  padding: 1%;
 
  background-color: white;
  min-height: 80px;
}
 
.btn-grad {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
.btn-grad {
   padding: 30px 120px;
   background-size: 200% auto; 
   border-radius: 1px; 
   box-shadow: transparent;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   letter-spacing: 2px;
   font-size: large;
   font-weight: bolder;
   color: white;
 }
 
 .last {background-image: linear-gradient(to right, rgb(231, 114, 18), rgb(221, 6, 71))} 
 .last {
   padding: 3%;
 }
 
 .last h1{
 text-align: center;
 font-size:30px ;
padding: 2%;
color: white;
 text-align: center;
 letter-spacing: 5px;
 }

 .last p{
  text-align: center;
  font-size: 22px;
  font-weight: lighter;
  line-height: 10px;
  color: white;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 10px;
 }

 .list img{
  width: 100%;
  
 }

.img-one img{
  border:10px solid transparent;
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  filter: none;
  border-radius: 14px;
  padding: 5px;
  width: 10px;
  height: 10px;
}

.img-two img{
  background-color: #fff;
  width: 10px;
  height: 10px;
}

@media screen and (max-width: 768px) {

  .item-title{
    flex-direction: column;
    max-width: 100%;
    height: auto;
    align-items: center;
    image-rendering: auto;

  }

  #works {
    align-content: center;
    
  }
  #works ul {
    flex-direction: column;
    margin-left: 220px;
  }
  #works li {
    width: 100%;
  }

  #wrap {
    height: auto;
    width: 50%;
    align-content: center;
  }

  .somm{
    align-content: center;
    margin-left: 140px;
  }

  

  #wrap {
    align-content: center;
    
  }
  #wrap ul {
    flex-direction: column;
    margin-left: 220px;
  }
  #wrap li {
    width: 100%;
  }

  .btn-grad{
    width: 75%;
  }
  
 .content{
 overflow: hidden;
 place-items: center;
 text-align: center;
 clear: both;
 overflow: hidden;
 white-space: nowrap;
 }

 .content p {
   font-size: 20px;
  
 }
}